section.biography
  div.content
    div.biography__inner
      article.article
        div.article__img.biography-article__img
          img(src="images/autor-img.jpg" alt="autor photo")
        div.article__content
          h2.title Biografie
          div.article__text
            p.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt eius deserunt 
              earum quae amet velit cumque quam minima facilis vitae quia in voluptatum, 
              provident quibusdam omnis consequuntur magni ipsam repellat. Lorem ipsum dolor 
              sit amet, consectetur adipisicing elit. 
            p.
              Totam distinctio omnis exercitationem voluptatum sint, nostrum hic placeat 
              molestiae facilis officiis at optio quos temporibus quam blanditiis quae eos 
              magni perferendis? Lorem ipsum dolor, sit 
            p.
              amet consectetur adipisicing elit. Labore odio necessitatibus autem dignissimos. 
              Perferendis laudantium, similique neque quasi et id itaque assumenda. Dolorem 
              cupiditate nemo vero, hic inventore quis adipisci?
        