footer.footer
  div.content
    div.footer__inner
      a.privacy(href="#") datenschutz impressum
      div.contacts-wrapper
        a.contact(href="tel:09814877231")
          i.fa.fa-mobile(aria-hidden="true")
          |0 9 8 1 48 77 231
        a.contact(href="mailto:jochem.mueller@hs-ansbach.de")
          i.fa.fa-envelope(aria-hidden="true")
          |jochem.mueller@hs-ansbach.de
        a.contact(href="#")
          i.fa.fa-home(aria-hidden="true")
          |FH Ansbach Residenzstr. 8 91522 Ansbach
