section.galery
  div.sl
    div.sl-slide
      img.sl-slide__img(src="images/university.jpg")
    div.sl-slide
      img.sl-slide__img(src="images/University-Beaufort.jpg")
    div.sl-slide
      img.sl-slide__img(src="images/University-of-Sydney.jpg")    