header.header
  div.content
    div.header__inner
      h1.header__title Prof. Dr. Jochem Muller
      div.menu-toggle
        div.menu-toggle__line
        div.menu-toggle__line
        div.menu-toggle__line  
      nav.menu
        a.menu__link(href="#") Aktuelles
        a.menu__link(href="#products") Prjekte
        a.menu__link(href="#") Studierende
        a.menu__link(href="#") Unternehmen
        a.menu__link(href="#") Zur Person
        a.menu__link(href="#") Abschlussarbeiten
        a.menu__link(href="#") Kontakt
nav.mobile-menu
  ul
    li
      a.mobile-menu__link(href="#") Aktuelles
    li  
      a.mobile-menu__link(href="#") Prjekte
    li 
      a.mobile-menu__link(href="#") Studierende
    li  
      a.mobile-menu__link(href="#") Unternehmen
    li
      a.mobile-menu__link(href="#") Zur Person
    li  
      a.mobile-menu__link(href="#") Abschlussarbeiten
    li  
      a.mobile-menu__link(href="#") Kontakt                
            