section.preise
  div.content
    div.preise__inner.biography__inner
      article.article
        div.article__content.preise-article__contnent
          h2.title Preise
          div.article__text
            p.
              2008 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt eius 
              deserunt earum quae. 
            p.
              2010 Totam distinctio omnis exercitationem voluptatum sint, nostrum hic placeat 
              molestiae facilis officiis at optio quost. 
            p.
              2010 amet consectetur adipisicing elit. Labore odio necessitatibus autem 
              dignissimos. 
            p.
              2011 amet consectetur adipisicing elit. Labore odio necessitatibus autem 
              dignissimo erferendis laudantium.  
        div.article__img
          img(src="images/autor-img2.jpg" alt="autor photo")      